-# = form_for current_user, url: new_group_path, method: :get do |f|
-#   .group
-#     .group__inner
-#       .group__inner-box
-#         .group__inner-box-header
-#           %p.group__inner-box-header-edit
-#             チャットグループを作成
-#           .group__inner-box-header-close
-#             = icon("fas", "times")
-#         .group__inner-box-form
-#           .group__inner-box-form-left
-#             .field-box
-#               %p.field-box-label 氏名
-#               = f.text_field :name, class: "input"
-#             .field-box
-#               %p.field-box-label メールアドレス
-#               = f.text_field :email, class: "input"
-#             .field-box
-#               %p.field-box-label ステータスメッセージ
-#               = f.text_field :status, class: "input"
      