.main-chat
  .main-chat-header
    .main-chat-header-box
      .main-chat-header-box-group
        %p.main-chat-header-group-name
          group-name
        .main-chat-header-box-group-option
          = icon("fa", "star")
          %span.line
            |
          = icon("fa", "user")
          %p.integer
            ４
      .main-chat-header-box-edit
        = icon("fa", "cog")
  .main-chat-chat
  .main-chat-form
