-# = form_for @group do |f|
-#   .groups
-#     .groups__inner
-#       .groups__inner-box
-#         .groups__inner-box-header
-#           %p.groups__inner-box-header-edit
-#             チャットグループを編集
-#         .groups__inner-box-form
-#           .groups__inner-box-form-left
-#             .field-box
-#               %p.field-box-label グループ名
-#               = f.text_field :name, class: "input", placeholder: 'グループ名を入力してください'
-#             .field-box
-#               %p.field-box-label チャットメンバーを追加
-#               %input{ placeholder: "追加したいユーザー名を入力してください", class: "input"}
-#             .field-box
-#               %p.field-box-label チャットメンバー
-#               -# %input{ name: "group[user_ids][]" , class: "input-group"}
-#               =  f.collection_check_boxes :user_ids, User.all, :id , :name
-#         .groups__inner-box-form-bottom
-#           .bottom-box
-#             = link_to "トップページに戻る", root_path, calss: "bottom-box-back"
-#             = f.submit "編集" , class: "bottom-box-new"
            