.profile {
  background-color:rgba(0,0,0,.6);
  position: absolute;
  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  display: none;
  top: 0;
  z-index: 1;
  &__inner-box {
    width: 700px;
    background-color: #191D21;
    margin: 100px auto;
    border: 1px solid #292A2C;
    border-radius: 10px;
    &-header {
      border-bottom: 1px solid #292A2C;
      position: relative;
      width: 100%;
      padding: 20px 28px;
      &-edit {
        color: #D1D2D3;
        font-size: 22px;
        font-weight: bold;
      }
      &-close {
        position: absolute;
        right: 30px;
        top: 30%;
        cursor: pointer;
        i {
          font-size: 20px;
        }
      }
    }
    &-form {
      display: flex;
      justify-content: space-between;
      padding:  28px 20px;
      &-left {
        width: 100%;
        margin-right: 40px;
        .field-box {
          @include font;
          margin-bottom: 20px;
          &-label {
            margin-bottom: 5px;
          }
          .input {
            outline: 0;
            width: 100%;
            border-radius: 5px;
            border: solid 1px #D1D2D3;
            color: #D1D2D3;
            background-color: #1A1E21;
            padding: 5px;
            font-size: 18px;
          }
        }
      }
      &-right {
        .profile-image {
          border-radius: 5px;
        }
        .input {
          text-align: center;
          outline: 0;
          width: 100%;
          border-radius: 5px;
          border: solid 1px #D1D2D3;
          color: #D1D2D3;
          background-color: #1A1E21;
          padding: 5px;
          font-size: 15px;
          margin-top: 10px;
          cursor: pointer;
        }
        .user-image {
          display: none;
        }
      }
      &-bottom {
        border-top: 1px solid #34373B;
        padding: 20px 28px;
        display: block;
        .bottom-box {
          display: flex;
          margin-left: 280px;
          .close-btn {
            @include edit-form;
            background-color: #1A1E21;
            border:1px solid #D1D2D3;
            color: #D1D2D3;
            &:hover {
              background-color: #222629;
            }
          }
          &-update {
            @include edit-form;
            background-color: #0A7A5B;
            &:hover {
              background-color:#138567;
            }
           
          }
          &-logout {
            @include edit-form;
            background-color: #CD2653;
            &:hover {
              background-color: #ff0000;
            }
          }
        }
      }
    }
  }
}

