* {
  box-sizing: border-box;
}

@mixin font {
  color: #D1D2D3;
  font-size: 20px;
  font-weight: lighter;
}

@mixin edit-form {
  border-radius: 5px;
  border: solid 1px #D1D2D3;
  color: #D1D2D3;
  background-color: #1A1E21;
  padding: 5px;
  font-size: 18px;
  margin: 20px 0;
  font-weight: bold;
  display: block;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}


.edit-box {
  width: 100vw;
  background-color: #1A1E21;
  .profile-page {
   &__inner {
    width: 980px;
    margin: 60px auto;
    padding: 60px;
    border-radius: 5px;
    background-color: #191D21;
    border: 3px solid #35363C;
    &-box {
      margin: 0 auto;
      overflow: auto;
      display: flex;
      text-align: center;
      &-left {
        width: 33%;
        text-align: left;
        .field-box {
          @include font;
          margin-bottom: 10px;
          &-label {
            margin-bottom: 5px;
          }
          .input {
            outline: 0;
            border-radius: 5px;
            border: solid 1px #D1D2D3;
            color: #D1D2D3;
            background-color: #1A1E21;
            padding: 5px;
            font-size: 18px;
          }
        }
      }
      &-mid {
        width: 33%;
        .profile-image {
          border-radius: 5px;
        }
        .input {
          cursor: pointer;
          margin: 20px auto  0; 
          width: 200px;
          border-radius: 5px;
          border: solid 1px #D1D2D3;
          color: #D1D2D3;
          background-color: #1A1E21;
          padding: 5px;
          font-size: 18px;
        }
        .user-image {
          display: none;
        }
      }
      &-right {
        width: 34%;
        &-update {
          @include edit-form;
          background-color: #138567;
          
        }
        &-logout {
          @include edit-form;
          background-color: #CD2653;
        }
        &-back {
          @include edit-form;
          background-color: #38aef0;
        }
      }
    }
    &__edit {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin:  0 0 30px;
      color: #D1D2D3;;
    }
   }
  }
}